
@model IList<StoryPicker.Core.StoryPost>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />


<h2 class="page-header" >Trending Stories</h2>

<body>
        <div class="box">
           Item Name
        </div>

        <div>
            Item Summary
        </div>
        <div>
            Item Comments
        </div>
 </body>
